<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>入力画面</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
    <div class="center">
        <form action="/calculation" method="post">
            <p>高度 :<br>
                <input type="number" step="any" name="altitude"></p>

            <p>速度 :<br>
                <input type="number" step="any" name="speed"></p>

            <p>風速 :<br>
                <input type="number" step="any" name="wind"></p>

            <p><input type="submit" value="計算する"></p>
        </form>
    </div>
</body>
</html>